@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
  padding: 1.5rem 2rem;
}
.header .logo {
  align-items: center;
  gap: 14px;
}
.header .logo .logo-image {
  width: 32px;
}
.header .logo .company-name {
  font-family: 'Nunito Sans', serif;
  font-size: 20px;
  font-weight: 600;
  color: #2948ff;
}
.nav-profile {
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
}
.nav-profile .username {
  color: #4f5665;
}

.profile-img {
  width: 48px;
  height: 48px;
}

.container-aside {
  flex-direction: column;
  row-gap: 16px;
  padding: 1.5rem 2rem;
}
.aside-navigation:hover {
}

.aside-navigation {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 208px;
  height: 45px;
  padding: 4px 12px 4px 8px;
  color: #4f5665;
}
.aside-navigation.active {
  background-color: #2948ff;
  color: #fff;
}

.aside-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.6%;
}

.content {
  flex: 5;
  width: 100%;
  min-height: 100vh;
}
.content-dashboard {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
}

.container-finance {
  width: 222px;
  height: 147px;
  gap: 5px;
  justify-content: space-around;
  padding: 1rem;
}
.finance-title {
  gap: 11px;
}
.finance-title .title {
  color: #4f5665;
}
.amount {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.6%;
}
.finance-description {
  align-items: center;
  column-gap: 4px;
}
.finance-description .percentage {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

img.description-arrow {
  width: 16px;
  height: 16px;
}
.description-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.section-fast-service {
  width: 100%;
  height: 81px;
  margin-inline: auto;
  padding: 1rem;
}
.user-transaction {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
.transaction-history {
  margin: 1rem;
  padding: 1rem;
  max-width: 341px;
}
.Transaction-title p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}
.section-chart {
  padding: 1rem;
}

.btn-select {
  padding: 0.1rem 0.4rem;
}
.container-select {
  gap: 10px;
}
.chart {
  margin-top: 2rem;
}
.img-user {
  width: 56px;
  height: 56px;
  border-radius: 10px;
}

.details-name {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.name-user {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}
.transfer-description {
  width: 100%;
}
.status-transfer {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #4f5665;
}
.amount-transfer {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}
/* global */
.cl-white {
  color: #fff;
}
.cl-green {
  color: #00a700;
}
.cl-red {
  color: #d00000;
}
.cl-black {
  color: #0b132a;
}

/* background color */
.bg-blue {
  background-color: #2948ff;
}
/* fonst size */

.text-base {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
}
.text-details {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.6px;
  font-weight: 500;
  color: #2948ff;
}

/* font weight */
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}

.title-select {
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 500;
  padding: 10px;
  color: #0b132a;
}
.btn-service {
  display: flex;
  gap: 6px;
}
.btn-service img {
  width: 24px;
  height: 24px;
}
.btn {
  background-color: #2948ff;
  padding: 0.7rem;
  gap: 8px;
}
.btn p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6%;
}

.border-solid {
  border: 1px solid #e8e8e8;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.border-left {
  border-left: 1px solid #e8e8e8;
}

.border-right {
  border-right: 1px solid #e8e8e8;
}

.rounded-6 {
  border-radius: 6px;
}
.rounded-circle {
  border-radius: 50%;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

.item-center {
  display: flex;
  align-items: center;
}
.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*main  transfer */

#main {
  display: flex;
}

.title-dashboard {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.title-dashboard img {
  width: 20px;
  height: 20px;
}
.title.title-dashboard h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #0b132a;
}
