body {
}
.header {
  background-color: #2948ff;
  border-bottom: 1px solid #e8e8e8;
}
header.header .logo,
.toggle {
  display: none;
}

.nav-profile {
  flex-direction: row-reverse;
}
.nav-profile > div {
  color: #fff;
}
.nav-profile > div > p:first-child {
  font-size: 12px;
  font-weight: 400;
}
.nav-profile > div > p:last-child {
  font-weight: 500;
}
.nav-profile > img:last-child {
  display: none;
}

.section-cash-flow {
  height: 84px;
  background-color: #2948ff;
  position: relative;
}
.cash-flow {
  display: none;
}
.section-cash-flow .pop-up {
  display: block;
  width: 80%;
  min-height: 108px;
  border-radius: 24px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -42px;
  transform: translateX(-50%);
  background-image: url(../images/background-popup.png);
  background-repeat: repeat-x;
  background-position-y: 60px;
  background-size: 335px, 47px;
  box-shadow: 0 0 24px 0 #a5a5a559;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

.card-balance {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  gap: 0.3rem;
}
.card-balance > div:first-child > p {
  font-size: 10px;
  line-height: 12.19px;
  font-weight: 500;
  color: #3c3c3c;
}
.card-balance > p:nth-child(2) {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 700;
  color: #000;
}
.card-balance > div:last-child > p {
  font-size: 8px;
  line-height: 18px;
  font-weight: 400;
}
.card-balance > div:first-child > img.icon-cash-flow {
  display: none;
}

.header-section > p {
  flex: 1;
}
.header-section > div {
  flex: 2;
  flex-wrap: nowrap;
}

/* section feature */
.section.feature {
  margin-top: 5rem;
}
.section {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  margin-top: 1rem;
}
.title-feature {
  display: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.section.feature > div:last-child {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn.btn-feature {
  height: 200px;
  background-color: #2948ff;
  flex: 1 1 150px;
  gap: 8px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6;
  color: #fff;
  padding: 4px 12px 4px 8px;
}

.section {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.chart img {
  width: 80%;
}
.icon-vector {
  width: 8px;
  height: 4px;
}
.section.feature .header-section {
  display: none;
}

/* history */
.section .header-section a {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  color: #2948ff;
}

.card-history {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.card-history img {
  flex: 1 0 1;
  width: 56px;
  height: 56px;
}

.card-history .desc {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.6rem;
}
.card-history .desc .name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #0b132a;
}
.card-history .status-transfer {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}

.card-history .amount {
  flex: 1 0 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  header.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .toggle {
    display: block;
  }
  header.header .logo {
    display: flex;
    align-items: center;
  }
  .nav-profile > div {
    flex-direction: row;
    color: #4f5665;
  }
  .nav-profile > div > p:first-child {
    display: none;
  }
  .nav-profile > img:last-child {
    display: block;
  }
  body {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      'header header header'
      'aside main main';
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 4.5fr);
  }
  .header {
    grid-area: header;
  }
  aside.container-aside {
    grid-area: aside;
  }
  .main {
    grid-area: main;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    background-color: #fff;
  }

  .main > div:first-child {
    flex: 2;
    background-color: #fff;
  }
  .section.feature {
    margin-top: 1rem;
    flex-direction: row;
  }
  .section-cash-flow {
    height: max-content;
    background-color: #fff;
    margin-top: 1rem;
  }
  .main > section:last-child {
    flex: 1;
  }
  .section.feature .header-section {
    flex: 2;
  }
  .section-cash-flow .pop-up {
    display: none;
  }
  .cash-flow.active {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card-balance {
    border: 1px solid #e8e8e8;
    flex: 1 1 30%;
    height: 147px;
    border-radius: 6px;
    padding: 1rem;
  }

  .section.feature .header-section {
    display: flex;
  }
  .header-section > p {
    flex: 1.5;
  }
  .header-section > div {
    flex: 1;
    flex-wrap: nowrap;
  }
  .header-section > div {
    display: flex;
  }
  .btn.btn-feature {
    display: flex;
    align-items: center;
    width: 109px;
  }
  .section.feature > div:last-child {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
  }

  /*  */
  .card-balance {
    height: 147px;
    gap: 5px;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .card-balance .finance-title {
    gap: 11px;
    display: flex;
    align-items: center;
  }
  .card-balance .finance-title .title {
    color: #4f5665;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6%;
    font-weight: 400;
  }

  .card-balance p.amount {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.6%;
  }
  .card-balance .finance-description {
    align-items: center;
    column-gap: 4px;
  }
  .card-balance .finance-description .percentage {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .card-balance .finance-description img.description-arrow {
    width: 16px;
    height: 16px;
  }
  .card-balance .finance-description .description-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
  }
}
