@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .logo .logo-image {
  width: 32px;
}
.header .logo .company-name {
  font-family: 'Nunito Sans', serif;
  font-size: 20px;
  font-weight: 600;
  color: #2948ff;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 22px;
}
.nav-profile .username {
  color: #4f5665;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
}
.header {
  background-color: #2948ff;
  color: #fff;
}
.header .logo {
  display: none;
}
.header .nav-profile > p:nth-child(2),
.header .nav-profile > p:nth-child(3),
.header .nav-profile > img:nth-child(3),
.header .nav-profile > img:nth-child(4) {
  display: none;
}
.container-dropdown {
  width: 248px;
  height: 142px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 20px 0 #0b132a14;
  border-radius: 12px;
  position: absolute;
  right: 30px;
  bottom: -148px;
  background-color: #fff;
}
.dropdown {
  width: 208px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  color: #fff;
  gap: 8px;
  border-radius: 6px;
}
.dropdown .profile {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #4f5665;
}
.profile img {
  background-color: #2948ff;
  color: #0b132a;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem 2rem;
  position: relative;
}
.content-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.content-title img {
  width: 24px;
  height: 24px;
}
.content-title p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #0b132a;
}

/* find people */
.container-edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-top: 1.4rem;
  padding: 1.7rem 2rem;
}

.container-people .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.image-people {
  width: 128px;
  height: 128px;
  background-color: #e8e8e84d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-people .img-update {
  width: 128px;
  height: 128px;
}
.container-picture {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.image-people img {
  width: 80px;
  height: 80px;
}
.notes-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #4f5665;
  margin-top: 8px;
}
.input-link {
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0.75px;
  color: #2948ff;
}
.input-link:hover {
  font-weight: 500;
}
/* btn */
.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 160px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24;
  letter-spacing: -0.6%;
  border-radius: 6px;
  padding: 4px 12px 4px 8px;
}
.btn-delete {
  background-color: #fff;
  border: 1px solid #d00000;
  color: #d00000;
}
.btn-delete {
  background-color: #fff;
  border: 1px solid #d00000;
  color: #d00000;
}
.btn-edit {
  background-color: #2948ff;
  border: 1px solid #2948ff;
  color: #fff;
}

/* global */
.flex {
  display: flex;
}
.bg-gray {
  background-color: #4f5665;
}
.bg-blue {
  background-color: #2948ff;
}
.text-white {
  color: #fff;
}

.btn-submit {
  font-family: 'Montserrat', serif;
  width: 100%;
  height: 45px;
  color: #fff;
  padding: 4px 12px;
  background-color: #2948ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
  border-radius: 6px;
  margin-top: 1rem;
}
.btn-submit:hover {
  color: #1f9da1;
  border: 1px solid #1f9da1;
  transition: 0.3s ease-out;
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #fff;
  }
  .header .logo {
    display: flex;
  }
  .header .nav-profile > p:nth-child(2),
  .header .nav-profile > p:nth-child(3),
  .header .nav-profile > img:nth-child(3),
  .header .nav-profile > img:nth-child(4) {
    display: flex;
  }
  .header .nav-profile > p:nth-child(1) {
    display: none;
  }

  header.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  body {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      'header header header'
      'aside main main';
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 4.5fr);
  }
  .header {
    grid-area: header;
  }
  aside.container-aside {
    grid-area: aside;
    height: 100vh;
  }
  .main {
    grid-area: main;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    background-color: #fff;
  }
}
