@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .logo .logo-image {
  width: 32px;
}
.header .logo .company-name {
  font-family: 'Nunito Sans', serif;
  font-size: 20px;
  font-weight: 600;
  color: #2948ff;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 22px;
}
.nav-profile .username {
  color: #4f5665;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
}
.container-dropdown {
  width: 248px;
  height: 142px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 20px 0 #0b132a14;
  border-radius: 12px;
  position: absolute;
  right: 30px;
  bottom: -148px;
  background-color: #fff;
}
.dropdown {
  width: 208px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  color: #fff;
  gap: 8px;
  border-radius: 6px;
}
.dropdown .profile {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #4f5665;
}
.profile img {
  background-color: #2948ff;
  color: #0b132a;
}
/* aside */
.container-aside {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 1.5rem 2rem;
  border-right: 1px solid #e8e8e8;
  height: 100vh;
}
.container-aside .aside-navigation {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 208px;
  height: 45px;
  padding: 4px 12px 4px 8px;
  color: #4f5665;
  border-radius: 6px;
}
.container-aside .aside-navigation:hover {
  border-right: 3px solid #2948ff;
  border-bottom: 3px solid #2948ff;
  transition: 0.1s ease-out;
}
.container-aside .aside-navigation.active {
  background-color: #2948ff;
  color: #fff;
}
#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem 2rem;
}
.content-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.content-title img {
  width: 24px;
  height: 24px;
}
.content-title p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #0b132a;
}

.progress-bar {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 13px;
}
.progress {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-inline: 0.7rem;
}
.progress-status {
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: center;
  border-radius: 50%;
  background-color: #4f5665;
  color: #ffffff;
}
.progress-status.active {
  background-color: #2948ff;
}
.progress-status-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6%;
  color: #4f5665;
}
.line-status {
  border: 0.5px dashed #4f5665;
  width: 85px;
}

/* account information */
.account-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-top: 2.4rem;
  padding: 1.2rem 2rem;
  border-radius: 2px;
}
.container-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.people-information {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.card-people {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #e8e8e84d;
}
.image-people img {
  width: 80px;
  height: 80px;
}

.people-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}
.verified {
  font-size: 14px;
  display: flex;
  gap: 8px;
  border-radius: 6px;
  padding: 4px 12px;
  background-color: #2948ff;
  color: #fff;
}
.verified img {
  width: 16px;
  height: 16px;
}
.name-people {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #4f5665;
}
.phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4f5665;
}
.star {
  width: 24px;
  height: 24px;
}

/* amount */
.amount-title,
.notes-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6%;
  color: #0b132a;
  margin-bottom: 0.3rem;
  margin-top: 1.2rem;
}
.amount-description,
.notes-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  margin-bottom: 0.5rem;
  color: #4f5665;
}
/*  input */
.amount-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 62px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4f5665;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}
.amount-input img {
  width: 16px;
  height: 16px;
}
#notes-input {
  font-family: 'Montserrat', serif;
  width: 100%;
  height: 223px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px;
}

.method-card {
  background-color: #e8e8e84d;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 60px;
  margin-top: 1rem;
  padding: 10px;
}
.name-method {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #4f5665;
}
.btn-submit {
  width: 100%;
  height: 45px;
  background-color: #2948ff;
  padding: 4px 12px 4px 8px;
  margin-block: 1.5rem;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6%;
}

/* global */
.flex {
  display: flex;
}
.bg-gray {
  background-color: #e8e8e84d;
}
.bg-blue {
  background-color: #2948ff;
}
.text-white {
  color: #fff;
}
