.progress-bar,
.content-title {
  display: none;
}
#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* account information */
.account-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 1.2rem 2rem;
  border-radius: 2px;
}
.container-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.people-information {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.card-people {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #e8e8e84d;
}
.image-people img {
  width: 80px;
  height: 80px;
}

.people-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}
.verified {
  font-size: 14px;
  display: flex;
  gap: 8px;
  border-radius: 6px;
  padding: 4px 12px;
  background-color: #2948ff;
  color: #fff;
}
.verified img {
  width: 16px;
  height: 16px;
}
.name-people {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #4f5665;
}
.phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4f5665;
}
.star {
  width: 24px;
  height: 24px;
}

/* amount */
.amount-title,
.notes-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6%;
  color: #0b132a;
  margin-bottom: 0.3rem;
  margin-top: 1.2rem;
}
.amount-description,
.notes-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  margin-bottom: 0.5rem;
  color: #4f5665;
}
/*  input */
.amount-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 62px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4f5665;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}
.amount-input img {
  width: 16px;
  height: 16px;
}
.amount-error {
  margin-top: 5px;
}
.amount-input input {
  width: 100%;
}
#notes-input {
  font-family: 'Montserrat', serif;
  width: 100%;
  height: 223px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px;
}

.method-card {
  background-color: #e8e8e84d;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 60px;
  margin-top: 1rem;
  padding: 10px;
}
.name-method {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #4f5665;
}
.btn-submit {
  width: 100%;
  height: 45px;
  background-color: #2948ff;
  padding: 4px 12px 4px 8px;
  margin-block: 1.5rem;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6%;
}
/* pop up */
#content {
  position: relative;
}
.relative {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  display: block;
}
.relative.hide {
  display: none;
}
.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 596px;
  height: 590px;
  background-color: #fff;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-pop-up {
  border-bottom: 1px solid #e8e8e8;
  padding-block: 0.5rem;
}
.header-pop-up p {
  font-size: 16px;
  font-weight: 600px;
  line-height: 19.5px;
  color: #4f5665;
}

#input-pin {
  font-size: 30px;
  font-weight: 500;
  line-height: 36.57px;
  width: 66px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}
#input-pin:hover,
#input-pin:active {
  border-bottom: 1px solid #2948ff;
}
.container-pin {
  display: flex;
  flex: 1;
  gap: 2rem;

  /* border-bottom: 1px solid #2948ff; */
}
.content-pin {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.text-enter-pin {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  flex: 1;
}
.text-enter-pin p:first-child {
  font-size: 30px;
  font-weight: 500;
  line-height: 35.57px;
  color: #0b132a;
}
.text-enter-pin p:last-child {
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  line-height: 26.62px;
}

.button-next {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.btn-next {
  width: 100%;
  padding: 10px;
  background-color: #2948ff;
  color: #fff;
  border-radius: 6px;
}
.btn-next p {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #4f5665;
}

.reset {
  color: #2948ff;
}
.reset:hover {
  font-weight: 500;
}

/* success */
.content-pop-up {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-success img {
  width: 270px;
  height: 270px;
}

.text-detail {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.text-detail p:first-child {
  font-size: 22px;
  font-weight: 600;
  line-height: 48px;
  color: #0b132a;
  text-align: center;
}
.text-detail p:last-child {
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
  line-height: 17.07px;
  text-align: center;
}

.success {
  color: #1ec15f;
}
.button-next {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.btn-next {
  width: 100%;
  padding: 10px;
  background-color: #2948ff;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
}

.btn-next p {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #4f5665;
}

.btn-transfer-again {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #2948ff;
  border-radius: 6px;
  border: 1px solid #2948ff;
}
.btn-transfer-again:hover,
.btn-next:hover {
  border: 1px solid #4d9aff;
  transition: 0.2s;
  color: #4d9aff;
}
.pop-up.hide {
  display: none;
}
@media screen and (min-width: 768px) {
  body {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      'header header header'
      'aside main main';
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 4.5fr);
  }
  .header {
    grid-area: header;
  }
  aside.container-aside {
    grid-area: aside;
  }
  #content {
    grid-area: main;
  }
  .content-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
  }
  .content-title img {
    width: 24px;
    height: 24px;
  }
  .content-title p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #0b132a;
  }

  .progress-bar {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 13px;
  }
  .progress {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    margin-inline: 0.7rem;
  }
  .progress-status {
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6%;
    text-align: center;
    border-radius: 50%;
    background-color: #4f5665;
    color: #ffffff;
  }
  .progress-status.active {
    background-color: #2948ff;
  }
  .progress-status-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6%;
    color: #4f5665;
  }
  .line-status {
    border: 0.5px dashed #4f5665;
    width: 85px;
  }
  #content {
    padding: 1.5rem 2rem;
  }
  .account-information {
    margin-top: 2.4rem;
  }
}
